## Python Tuples

- Tuples are orderd to collection of data items.they store multiple items ina single variable.
- Tuple items are separated by commas and encolsed with round bracket().
- Tuples are unchangeable meaning we can not alter them them after creation.

In [4]:
tup=(1)
print(type(tup))

tup1=(1,)            # single number change in to tuple than put commas(1,)
print(type(tup1))

<class 'int'>
<class 'tuple'>

#### example 1:-

In [1]:
tuple1=(1,2,2,3,4,5,6)
tuple2=("red","green","blue")
print(tuple1)
print(tuple2)

(1, 2, 2, 3, 4, 5, 6)
('red', 'green', 'blue')

#### Example2:-

In [5]:
details=("naidu",20,"kumar",2.1)
print(details)

('naidu', 20, 'kumar', 2.1)

### Tuple indexes

- Each item/element in a tuple has its own unique index.
- This index can be used to access any particular item from the tuple.
- The first item has index[0],second item has index[1],third item has index[2] and so on.

##### Example:-

In [ ]:
states=("andhra","Goa","jumma")
          [0]     [1]    [2]

#### Accesding tuple items:-

  #### positive Indexing:-

- As we have seen the tuple items have a index,as such we can acess items using these indexes.

##### Example:-

In [7]:
states=("andhra","Goa","jumma")
print(states[0])
print(states[1])
print(states[2])

andhra
Goa
jumma

#### Negative Indexing:-

- Similar to positive indexing .negative indexing is also used to access items,but from the end of the tuple.
- The last item has index[-1],second last item has index[-2],third last item has index[-3] and so on.

##### Example:-

In [8]:
states=("andhra","Goa","jummu","vskp","vzm")
print(states[-1])     # similar to print(states[len(states)-1])
print(states[-4])
print(states[-3])

vzm
Goa
jummu

## Check for item:-

- we can check if a given item is present in the tuple .This is done using the in keyword.

##### Example:-

In [12]:
states=("andhra","Goa","jummu","vskp","vzm")
if "Goa" in states:
    print("Goa in the tuple statement")
else:
    print("Goa is  not in tuple statement")

Goa in the tuple statement

#####  Example2:-

In [13]:
states=("andhra","Goa","jummu","vskp","vzm")
if "usa" in states:
    print("usa in the tuple statement")
else:
    print("usa is  not in tuple statement")

usa is  not in tuple statement

## Range of index:-

- you can print a range of tuple  items by specifying where do you want to start,where do you want to end and if you want to skip the elements in between the range.

##### syntax:-

- tuple[starts: ends : jumpindex]

##### Note:-

- jump index is optional.We will see this in given example

##### Example:- printing element within a particular range:

In [22]:
animals=("cat","cow","sheep","buffaloo","loin","tiger","hourse","pig","man")
print(animals[3:7])         # using positive index
print(animals[-7:-2])        # using negative index

('buffaloo', 'loin', 'tiger', 'hourse')
('sheep', 'buffaloo', 'loin', 'tiger', 'hourse')

- Here,we provideing index of the element from where we want to start and the index of the elements till which we want to print the values. 

- Note:-
    - The elements of the end index provided will not be included.

In [23]:
animals=("cat","cow","sheep","buffaloo","loin","tiger","hourse","pig","man")
print(animals[4:])        # using positive index
print(animals[-4:])        # using negative index

('loin', 'tiger', 'hourse', 'pig', 'man')
('tiger', 'hourse', 'pig', 'man')

- When no end index is provided,the interpreter print all the values of the end.

##### Example:- printing all the elements from start to given index

In [28]:
animals=("cat","cow","sheep","buffaloo","loin","tiger","hourse","pig")
print(animals[:6])         # using positive index
print(animals[:-4])

('cat', 'cow', 'sheep', 'buffaloo', 'loin', 'tiger')
('cat', 'cow', 'sheep', 'buffaloo')

- we no starts index is provide,the interpreter prints all the values from the start up to end index provided.

#### example:- print alternate values

In [33]:
animals=("cat","cow","sheep","buffaloo","loin","tiger","hourse","pig")
print(animals[::2])         # using positive index
print(animals[-8:-1:2])

('cat', 'sheep', 'loin', 'hourse')
('cat', 'sheep', 'loin', 'hourse')

- Here,we have not provided start and end index,which means all the values will be considered.But as we have provided a jump index of 2 only alternate values will be printed

##### Example: printed every 3rd convsecutive withing give range

In [35]:
animals=("cat","cow","sheep","buffaloo","loin","tiger","hourse","pig")
print(animals[1:8:3])         # using positive index

('cow', 'loin', 'pig')

- Here, jump index is 3.Hence it print every 3rd element within given index.

## Mainipulating Tuples:-

- Tuples are inmutable,hence if you want to add,remove or change tuple items,then first you convert the tuple to a list.Then perform operation on that list and convert it back to tuple.

##### Example:-

In [37]:
states=("andhra","Goa","jummu","vskp","vzm")
temp=list(states)
temp.append("manipur")       # add  item
temp.pop(2)                  # remove item
temp[1]="kerala"            # change item
states=tuple(temp)
print(states)

('andhra', 'kerala', 'vskp', 'vzm', 'manipur')

- Thus,we convert tuple to list,mainpulate items of the list using list method,then convert  to the tuple.

- However,we can directly concatenate two tuple without  convrting them to list

#### Example:-

In [38]:
states=('andhra', 'kerala', 'vskp', 'vzm', 'manipur')
states2=("thiruvanthapuram","panaji","imphal")
india_states=states+states2
print(india_states)

('andhra', 'kerala', 'vskp', 'vzm', 'manipur', 'thiruvanthapuram', 'panaji', 'imphal')

### Tuples method:-

- As tuple are immutable type of collection of elements it have limited bulit in method.They are explained below.

#### count() method:-

- The count() method of  tuple returns the number of times the given elements appers in the tuple

##### syntax:-

- tuple.count(element)

###### Example:-

In [41]:
Tuple=(0,1,2,3,4,2,3,2,1,3,2)
num=Tuple.count(2)
print("count of 2 in the Tuple is :",num)

count of 2 in the Tuple is : 4

### index() method:-

- The index() method returns the first occurrence of the given element from the tuple

#### syntax:-

- tuple.index(element,start,end)

#### Note:-

- This method raises a valueError if the element is not found in the tuple.

##### Example:-

In [44]:
Tuple=(0,1,2,3,4,2,3,2,1,3,2)
num=Tuple.index(3)
print("First occurrence of 3 is ",num)

First occurrence of 3 is  3

In [46]:
Tuple=(0,1,2,3,4,2,3,2,1,3,2)
num=Tuple.index(3,4,9)                         # index values(3) ,(4) is a startingindex,(9) is a ending index
print("First occurrence of 3 is ",num)

First occurrence of 3 is  6

In [47]:
Tuple=(0,1,2,3,4,2,3,2,1,3,2)
num=Tuple.index(33)                     # valueError: not in tuple
print("First occurrence of 3 is ",num)

ValueError: tuple.index(x): x not in tuple

## Note:-

- When you converted it into a "List" from a "Tuple" then you can make changes